<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/posts}">Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/posts}">Объявления</a>
                <a class="nav-item nav-link" th:href="@{/formAddPost}">Разместить объявление</a>
                <a class="nav-item nav-link" th:href="@{/lastDayPosts}">За последние сутки</a>
                <a class="nav-item nav-link" th:if="${user.getLogin() == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${user.getLogin()}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.getLogin() != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${user.getLogin()}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="post_info">
        <div>
            <div>
                <img th:width="300" th:high="300" th:src="@{|/posterPost/${post.id}|}">
            </div>
            <div>
                <b>Марка автомобиля</b>
                <p th:text="${post.getCar().getName()}"></p>
            </div>
            <div>
                <b>Двигатель</b>
                <p th:text="${post.getCar().getEngine().getName()}"></p>
            </div>
            <div>
                <b>Описание</b>
                <p th:text="${post.getText()}"></p>
            </div>
            <div>
                <b>Владелец</b>
                <p th:text="${post.getCar().getDriver().getName()}"></p>
            </div>
            <div>
                <b>Телефон</b>
                <p th:text="${post.getCar().getDriver().getPhone()}"></p>
            </div>
            <div>
                <b>Цена</b>
                <p th:text="${post.getPrice()}"></p>
            </div>

            <div>
                <b>Статус</b>
                <p th:if="${post.getSaleStatus()}">Продано</p>
                <p th:if="${!post.getSaleStatus()}">Продается</p>
            </div>

            <div>
                <b>Дата публикации</b>
                <td th:text="${#temporals.format(post.getCreated(), 'dd-MM-yyyy HH:mm')}"></td>
            </div>
            <br>
            <div>
                <form th:action="@{|/formUpdatePost/${post.getId()}|}" method="GET">
                    <div>
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                    </div>
                </form>
            </div>
            <br>
            <div>
                <form th:action="@{/formDelete}" method="POST" th:object="${post}"
                      enctype="multipart/form-data">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <button type="submit" class="btn btn-primary">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
